@charset "UTF-8";
#wrap {
  position: relative;
  min-width: 1280px;
  width: 100%;
  overflow: hidden;
}

#wrap--add {
  position: relative;
  min-width: 1280px;
  width: 100%;
}

body {
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  width: 100%;
  min-width: 1280px;
  max-width: 1280px;
  position: relative;
  overflow: hidden;
}
.container.visible {
  overflow: visible;
}

.container--overVisible {
  margin: 0 auto;
  width: 100%;
  min-width: 1280px;
  max-width: 1280px;
  position: relative;
}

textarea {
  display: inline-block;
  padding: 20px;
  font-size: 16px;
  color: #777;
  border: 1px solid #dcdcdc;
  width: calc(100% - 140px);
  box-sizing: border-box;
  height: 200px;
}

/*
textarea::-webkit-scrollbar {
    width: 20px;
}

textarea::-webkit-scrollbar-thumb {
    background-color: #fff;
    border: 1px solid #dcdcdc;
}

textarea::-webkit-scrollbar-track {
    background-color: #f8f8f8;
    border: 1px solid #dcdcdc;
}
*/
/*file*/
.file_input > label {
  position: relative;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  width: 100px;
  height: 80px;
  background: #fb6889;
  color: #fff;
  text-align: center;
  line-height: 80px;
  margin: 0px !important;
  font-size: 18px;
  border-radius: 5px;
}
.file_input label input {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}
.file_input input[type=text] {
  vertical-align: middle;
  display: inline-block;
  width: 292px;
  height: 80px;
  line-height: 80px;
  font-size: 20px;
  padding: 0px 10px;
  border: 1px solid #dbdbdc;
  color: #333;
}

input[type=checkbox] {
  display: none;
}
input[type=checkbox] + .label {
  padding-left: 34px;
  height: 24px;
  display: inline-block;
  line-height: 22px;
  background-repeat: no-repeat;
  font-size: 16px;
  vertical-align: middle;
  cursor: pointer;
  opacity: 1;
  color: #333;
  background-image: url("http://www.smart-pain.com/new/images/common/chk.png");
}
input[type=checkbox]:checked + label {
  background-image: url("http://www.smart-pain.com/new/images/common/chk_on.png");
}
input[type=radio] {
  display: none;
}
input[type=radio] + .label {
  padding-left: 34px;
  height: 22px;
  display: inline-block;
  line-height: 22px;
  background-repeat: no-repeat;
  font-size: 20px;
  vertical-align: middle;
  cursor: pointer;
  opacity: 1;
  color: #333;
  background-image: url("/images/common/radio-off.png");
}
input[type=radio]:checked + label {
  background-image: url("/images/common/radio-on.png");
}
input::-moz-placeholder {
  color: #000;
}
input::placeholder {
  color: #000;
}

textarea::-moz-placeholder {
  color: #000;
}

textarea::placeholder {
  color: #000;
}

select {
  font-size: 15px;
  -webkit-appearance: none;
  /* for chrome */
  -moz-appearance: none;
  /*for firefox*/
  appearance: none;
  background: url("/images/common/btn_board_select.png") no-repeat 95% 50%;
  padding: 0 20px 0 10px !important;
  color: #000 !important;
}
select::-ms-expand {
  display: none;
  /*for IE10,11*/
}

/*paging*/
.paging {
  overflow: hidden;
  position: relative;
  margin-top: 0px;
  text-align: center;
  line-height: 50px;
  margin-top: 45px;
}
.paging img {
  vertical-align: top;
}
.paging .number {
  height: 40px;
  line-height: 40px;
  margin-right: 20px;
  color: #999999;
}
.paging .number a {
  padding: 0px;
  color: #999999;
  font-weight: 300;
  font-size: 16px;
}
.paging .number a.current {
  font-weight: bold;
  color: #000;
}
.paging .inner-btn {
  position: absolute;
  right: 0px;
  top: 0px;
}
.paging .inner-btn-left {
  position: absolute;
  left: 0px;
  top: 0px;
}
.paging .prev {
  margin-right: -1px;
}

.agree-box {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 230px;
  border: 1px solid #f2f2f2;
  padding: 45px 30px;
  font-size: 14px;
  color: #808080;
}

@keyframes subbg {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
/*header*/
.header-wrap {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1000;
  height: 100px;
}

.header {
  max-height: 100px;
  overflow: hidden;
  transition: all 0.6s ease-out;
}
.header.scrollDown {
  max-height: 0;
  overflow: hidden;
  transition: all 0.4s ease-out;
}
.header.scrollUp .header-wrap {
  background: #d1363a;
  transition: all 0.4s ease-out;
}
.header.scrollDown .logo, .header.scrollDown .all-menu {
  display: none;
}

.header-wrap.sub {
  background: #d1363a;
}
.header-wrap .logo {
  position: absolute;
  z-index: 1;
}
.header-wrap .logo a {
  display: block;
  width: 100%;
  height: 100%;
}
.header-wrap .logo .h1-logo-s {
  fill: #f9f9f9;
  position: absolute;
  margin: 0;
}
.header-wrap.sub .logo {
  width: 51px;
  height: 51px;
  left: 53px;
  top: 26px;
}

.stop .header-wrap .logo {
  width: 51px;
  height: 51px;
  left: 53px !important;
  top: 26px !important;
}

.header-wrap .header {
  width: 1280px;
  height: 100px;
  position: relative;
  z-index: 0;
}

.header {
  overflow: inherit;
}
.header #gnb {
  display: flex;
  justify-content: center;
  padding: 37px 0;
}
.header #gnb .main_menu {
  float: left;
  text-align: center;
  padding: 0 20px;
  position: relative;
}
.header #gnb .main_menu > a {
  font-size: 18px;
  color: #fff;
  font-weight: 500;
}

.header-wrap.fixed #gnb .main_menu > a, .header-wrap.white #gnb .main_menu > a {
  color: #fff;
}
.header-wrap #gnb .main_menu > :first-child a {
  margin-left: 0px;
}
.header-wrap #gnb .main_menu ul {
  display: none;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  border-radius: 15px;
  top: 85px;
  left: 50%;
  transform: translateX(-50%);
  width: 174px;
  padding: 20px 10px;
  background: #fff5e7;
  transition: all 0.4s ease-out;
  transition-property: opacity, top, visibility;
  transition-delay: 0s, 0s, 0s;
}
.header-wrap #gnb .main_menu ul.active {
  display: block;
  transition-delay: 0.1s;
}
.header-wrap #gnb .main_menu.active ul {
  opacity: 1;
  visibility: visible;
  top: 40px;
  z-index: 10;
  transition-delay: 0s, 0s, 0s;
}
.header-wrap #gnb .main_menu ul > li > a {
  display: inline-block;
  font-family: "Noto Sans KR", sans-serif;
  color: #615954;
  font-size: 16px;
  position: relative;
  height: 40px;
  line-height: 40px;
  font-weight: 400;
  letter-spacing: -0.02em;
}
.header-wrap #gnb .main_menu ul > li:hover {
  background-color: #fefefe;
  border-radius: 10px;
}
.header-wrap #gnb .main_menu ul > li > a:hover {
  color: #d1363a;
  font-weight: 500;
}
.header-wrap #gnb .main_menu .titDot {
  position: relative;
}
.header-wrap #gnb .main_menu .titDot:before {
  content: "";
  position: absolute;
  left: 50%;
  top: -2rem;
  transform: translateX(-50%);
  width: 6px;
  height: 6px;
  background-color: #fff5e7;
  border-radius: 3px;
  opacity: 0;
}
.header-wrap #gnb .main_menu.active .titDot {
  color: #fff5e7;
}
.header-wrap #gnb .main_menu.active .titDot:before {
  top: -1rem;
  opacity: 1;
}

/* 서브메뉴 */
footer {
  background: #252423;
}
footer .flex_box {
  display: flex;
}
footer .flex_box svg {
  transition: all 0.3s;
}
footer .flex_box a:hover path {
  fill: #d1363a;
}
footer .flex-between {
  justify-content: space-between;
}
footer .flex-between2 {
  align-items: flex-end;
}
footer .footer_top {
  padding: 100px 0 140px;
}
footer .footer_top .tit {
  font-size: 80px;
  line-height: 85px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
footer .footer_top .footer__social {
  display: flex;
  margin-top: 20px;
}
footer .footer_top .footer__social li {
  width: 38px;
  height: 38px;
}
footer .footer_top .footer__social li + li {
  margin-left: 15px;
}
footer .footer_top .footer__social li a {
  display: block;
  width: 100%;
  height: 100%;
  text-indent: -999px;
  overflow: hidden;
}
footer .footer_top .footer__social .is-vhidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
}
footer .footer_top .footer__social .icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
footer .footer_top .customService {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 21px;
  text-transform: uppercase;
}
footer .footer_top .service ul {
  display: flex;
  padding-top: 25px;
  margin-top: 25px;
  border-top: 1px solid #e5e5e5;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
footer .footer_top .service li {
  font-size: 15px;
  line-height: 25px;
  color: #969696;
  font-weight: 350;
}
footer .footer_bottom {
  padding: 50px 0;
  border-top: 1px solid #dedede;
}
footer .footer_bottom .links {
  display: flex;
  align-items: center;
}
footer .footer_bottom .links li {
  padding: 0 30px;
}
footer .footer_bottom .links a strong {
  color: #d1363a;
}
footer .footer_bottom .links li > a {
  color: #fff;
  letter-spacing: -0.06em;
  font-size: 16px;
  font-weight: 500;
  margin-right: 20px;
  position: relative;
}
footer .footer_bottom .links li > a:after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 13px;
  background: #868686;
  position: absolute;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
}
footer .footer_bottom .links li > a:last-child {
  margin-right: 0;
}
footer .footer_bottom .links li > a:last-child:after {
  display: none;
}
footer .footer_bottom .links li > a:hover {
  border-bottom: 1px solid #fff;
}
footer .footer_bottom .links li > a:hover strong {
  border-bottom: 1px solid #d1363a;
}
footer .copyright {
  padding: 20px 0;
  border-top: 1px solid #dedede;
}
footer .copyright p {
  color: #b7b7b7;
  font-weight: 350;
  font-size: 14px;
}

.sub-wrap-w {
  display: none;
  height: 245px;
  position: fixed;
  left: 0;
  width: 100%;
}
.sub-wrap-w .sub_img {
  display: flex;
  height: 245px;
  background: #f2f2f2;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.sub-wrap-w .active_img {
  width: 35%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
}
.sub-wrap-w .active_img.img01 {
  background-image: url("../images/common/submenu_img01.jpg");
}
.sub-wrap-w .active_img.img02 {
  background-image: url("../images/common/submenu_img02.jpg");
}
.sub-wrap-w .active_img.img03 {
  background-image: url("../images/common/submenu_img03.jpg");
}
.sub-wrap-w .active_img.img04 {
  background-image: url("../images/common/submenu_img04.jpg");
}
.sub-wrap-w .active_img.img05 {
  background-image: url("../images/common/submenu_img05.jpg");
}
.sub-wrap-w .active_img.img06 {
  background-image: url("../images/common/submenu_img06.jpg");
}
.sub-wrap-w .active_img.img07 {
  background-image: url("../images/common/submenu_img07.jpg");
}

.sub-wrap {
  position: fixed;
  z-index: -1;
  overflow: hidden;
  top: auto;
  left: 0;
  opacity: 0;
  display: none;
}

.main_menu.active .sub-wrap {
  -ms-display: flex;
  display: flex;
  flex-wrap: wrap;
  z-index: 10;
  height: 235px;
  visibility: visible;
  width: 100%;
  padding: 50px 0;
  box-sizing: border-box;
}
.main_menu.active .sub-wrap .container {
  display: flex;
}

.sub-wrap h1 {
  position: relative;
  left: 0;
  flex: 1 1 35%;
  width: 35%;
  color: #fff;
  text-align: left;
  font-weight: 300;
  font-size: 34px;
  line-height: 1.2;
}

.sub_menu {
  flex: 1 1 65%;
  width: 65%;
  position: relative;
}
.sub_menu li {
  width: 210px;
  margin-right: 70px;
  line-height: 2.5;
  float: left;
  text-align: left;
  position: relative;
  margin-bottom: 12px;
}
.sub_menu li:nth-child(2n) {
  margin-right: 0;
}
.sub_menu li:nth-child(2n+1) {
  clear: both;
}
.sub_menu li a {
  color: #a5a5a5;
  text-align: left;
  font-size: 16px;
  position: relative;
  display: block;
}
.sub_menu li a:after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 12px;
  background: url("../images/common/sub_menu_arrow.png") no-repeat center;
  position: absolute;
  right: 0;
  top: 13px;
}
.sub_menu li:before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  background: #c9c9c9;
  position: absolute;
  left: 0;
  bottom: 0;
}
.sub_menu li:hover:after {
  content: "";
  display: inline-block;
  width: 130px;
  height: 1px;
  background: #9253a6;
  position: absolute;
  left: 0;
  bottom: 0;
}
.sub_menu li:hover a {
  color: #363636;
}

/*
.sub_menu.last li{width:160px;}
.sub_menu.last li:nth-child(2n) {margin-right:70px;}
.sub_menu.last li:nth-child(2n+1) {clear:inherit;}
.sub_menu.last li:nth-child(3n) {margin-right:0px;}
.sub_menu.last li:nth-child(3n+1) {clear:both;}
.sub_menu.last li:hover:after {width:100px;}
*/
.all_menuBtn {
  display: none;
  position: absolute;
  right: 30px;
  top: 0;
  width: 60px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  cursor: pointer;
}

.sub_menuBtn {
  position: absolute;
  right: 40px;
  top: 0;
  width: 60px;
  height: 100px;
  line-height: 95px;
  text-align: center;
  cursor: pointer;
  opacity: 0;
}
.sub_menuBtn .img_b {
  display: none;
}
.sub_menuBtn.show {
  opacity: 1;
}

.tearmsArea {
  line-height: 1.5;
  font-size: 16px;
  width: 96%;
  margin: 0 auto;
}

a.btn-lg {
  min-width: 200px;
  padding: 0px 10px;
  height: 60px;
  line-height: 57px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  border-radius: 30px;
  margin: 0px 10px;
}
a.btn-board {
  min-width: 120px;
  padding: 0px 10px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  border-radius: 30px;
  margin: 0px 5px;
}
a.btn-normal {
  color: #fff;
  border: 1px solid #db5154;
  background: #db5154;
}
a.btn-gray {
  color: #fff;
  border: 1px solid #b4b8bc;
  background: #b4b8bc;
}
a.btn-yellow {
  color: #fff;
  border: 1px solid #a664e8;
  background: #a664e8;
}

.ellipse {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ellipse.lh2 {
  white-space: normal;
  line-height: 1.5;
  height: 3.2em;
  text-align: left;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.ellipse.lh3 {
  white-space: normal;
  line-height: 1.5;
  height: 4.6em;
  text-align: left;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.ellipse.lh4 {
  white-space: normal;
  line-height: 1.5;
  height: 6.1em;
  text-align: left;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

/*----- SITEMAP -----*/
#sitemap {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #d1363a;
  z-index: 8000;
  pointer-events: none;
  opacity: 0;
}
#sitemap::before {
  content: "";
  position: fixed;
  top: 20px;
  right: 20px;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  background: #fff7ed;
  border-radius: 20px;
  z-index: -1;
  transform-origin: right top;
  transform: scale(0.9);
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#sitemap.open {
  pointer-events: auto;
  opacity: 1;
}
#sitemap.open::before {
  transform: scale(1);
}

.sitemap-menu {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}
.sitemap-menu .site-menu01 {
  padding: 0 40px;
}
.sitemap-menu li {
  display: flex;
}
.sitemap-menu li .tit {
  flex: 0 0 380px;
  font-weight: 700;
  font-size: 3.3vh;
}
.sitemap-menu .depth01 {
  padding: 3.1vh 0;
  border-bottom: 1px solid #e2d9ce;
  align-items: center;
}
.sitemap-menu .depth02 ul {
  display: flex;
  align-items: center;
}
.sitemap-menu .depth02 a {
  color: #575757;
  font-size: 18px;
  font-weight: 400;
}
.sitemap-menu .depth02 a:hover {
  color: #db5154;
  font-weight: 700;
}
.sitemap-menu .depth02 li + li {
  margin-left: 35px;
}

.sitemap-close {
  position: absolute;
  top: 40px;
  right: 60px;
}

.orange_color {
  color: #d1363a;
}

.main_home {
  width: 100%;
  height: 100%;
  z-index: 1;
  margin-top: 100px;
  background: #1F1F1F;
  position: relative;
}
.main_home .borderPadding {
  /* padding: 0 40px 40px; */
  position: relative;
  z-index: 3;
  height: calc(100vh - 80px);
}
.main_home .orange_bg {
  background: #d1363a;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.main_home .main_bg_slider {
  position: absolute;
  top: 0px;
  left: 10px;
  height: calc(100% - 40px);
  width: calc(100% - 20px);
  border-radius: 30px;
  overflow: hidden;
  z-index: 3;
}
.main_home .text_slider_wrap {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 3;
  display: flex;
  align-items: center;
}
.main_home .text_slider_wrap .inner {
  max-width: 1280px;
  width: 100%;
  margin-left: 6%;
  display: flex;
  flex-direction: column;
}
.main_home .main_text_slider {
  margin-bottom: 0;
  width: 100%;
}
.main_home .slick-list, .main_home .slick-track {
  width: 100%;
  height: 100%;
  outline: 0;
  overflow: hidden;
}
.main_home .main_slider .item {
  width: 100%;
  height: 100%;
}
.main_home .main_slider .img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.main_home .main_slider .text_wrap {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: #fff;
  word-break: keep-all;
}
.main_home .main_slider .text_wrap .title1 {
  font-size: 55px;
  font-weight: 600;
  line-height: 1.35;
  margin-top: 34px;
}
.main_home .main_slider .text_wrap .title2 {
  margin-top: 68px;
}
.main_home .main_slider .text_wrap .txt1 {
  font-size: 18px;
  margin-top: 30px;
}
.main_home .indicator {
  position: relative;
  display: flex;
  height: 12px;
  align-items: center;
  margin-top: 60px;
}
.main_home .indicator .dot {
  border-color: #000;
}
.main_home .indicator .dot ul {
  bottom: -2px;
  width: auto;
}
.main_home .indicator .dot li {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  margin: 0;
}
.main_home .indicator .dot button {
  position: absolute;
  width: 10px;
  height: 10px;
  border: 1px solid #fff;
  border-radius: 50%;
  box-sizing: border-box;
  font-size: 0;
  background: transparent;
}
.main_home .indicator .dot li + li {
  margin-left: 25px;
}
.main_home .indicator .dot li.slick-active button {
  background: #d1363a;
  border-color: #d1363a;
}
.main_home .status_wrap {
  position: relative;
  width: 7px;
  height: 12px;
  margin-left: 63px;
  margin-right: 20px;
  background: transparent;
}
.main_home .status_wrap .stop {
  display: block;
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  border-top: 0;
  border-bottom: 0;
}
.main_home .status_wrap .play {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.main_home .status_wrap .play:before {
  display: block;
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  top: 1px;
  left: 0;
  border-left: 8px solid #fff;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 0 solid transparent;
}
.main_home .indicator .btn {
  position: relative;
  width: 12px;
  height: 24px;
  background: transparent;
  cursor: pointer;
}
.main_home .indicator .btn:before {
  display: block;
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-top: 0;
  border-left: 0;
  transform: rotate(135deg);
}
.main_home .indicator .btn.next {
  margin-right: initial;
  margin-left: 34px;
}
.main_home .indicator .btn.next:after {
  display: block;
  content: "";
  width: 1px;
  height: 18px;
  position: absolute;
  top: 3px;
  left: -17px;
  background: rgba(255, 255, 255, 0.25);
}
.main_home .indicator .btn.next:before {
  transform: rotate(-45deg);
  left: -6px;
}
.main_home .main_slider .text_wrap {
  perspective: 600px;
  -webkit-perspective: 600px;
}
.main_home .main_slider .text_wrap .title1 {
  opacity: 0;
  transform: translateY(100%) rotateX(-80deg);
  transform-origin: center top;
  transform-style: preserve-3d;
}
.main_home .main_slider .item.on .text_wrap .title1 {
  animation: txtMotion 1.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s forwards;
}
.main_home .main_slider .item .text_wrap .txt1 {
  opacity: 0;
}
.main_home .main_slider .item.on .text_wrap .txt1 {
  animation: opacityAni 1s 1s forwards;
}
.main_home .main_slider .item.on .text_wrap:before {
  animation: opacityAni 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s forwards;
}
.main_home .main_slider .img {
  transform: scale(1.13);
}
.main_home .main_slider .item.on .img {
  transform: scale(1);
  transition: 3s;
}

.Msection2 {
  background: #f4f1ed;
}
.Msection2 #panelsContainer {
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
  padding: 4vw 0 6.5vw;
  width: 100%;
}
.Msection2 .panel {
  margin-right: 40px;
  width: 86vh;
  min-width: 390px;
}
.Msection2 .panel .img {
  height: 66vh;
  display: block;
  transition: all 0.5s;
  border-radius: 30px;
  overflow: hidden;
  text-indent: -9999px;
}
.Msection2 .panel:hover .img {
  transition: all 0.5s;
}
.Msection2 .panel .img01 {
  background: url("http://www.smart-pain.com/new/images/main/Msection2_img01.png") no-repeat center;
  background-size: cover;
}
.Msection2 .panel:hover .img01 {
  background-image: url("http://www.smart-pain.com/new/images/main/Msection2_img01_hover_n.png");
}
.Msection2 .panel .img02 {
  background: url("http://www.smart-pain.com/new/images/main/Msection2_img02.png") no-repeat center;
  background-size: cover;
}
.Msection2 .panel:hover .img02 {
  background-image: url("http://www.smart-pain.com/new/images/main/Msection2_img02_hover_n.png");
}
.Msection2 .panel .img05 {
  background: url("http://www.smart-pain.com/new/images/main/Msection2_img05.png") no-repeat center;
  background-size: cover;
}
.Msection2 .locationWrap {
  background: #2f291e;
  border-radius: 30px;
  padding: 20px;
}
.Msection2 .locationWrap .location a {
  height: 30vh;
  border-radius: 20px;
  overflow: hidden;
  text-indent: -9999px;
}
.Msection2 .locationWrap .lo01 a {
  display: block;
  background: url("http://www.smart-pain.com/new/images/main/Msection2_img03.png") no-repeat center;
  background-size: cover;
  transition: all 0.5s;
}
.Msection2 .locationWrap .lo01:hover a {
  background-image: url("http://www.smart-pain.com/new/images/main/Msection2_img03_hover_n.png");
  transition: all 0.5s;
}
.Msection2 .locationWrap .lo02 {
  margin-top: 20px;
}
.Msection2 .locationWrap .lo02 a {
  display: block;
  background: url("http://www.smart-pain.com/new/images/main/Msection2_img04.png") no-repeat center;
  background-size: cover;
  transition: all 0.5s;
}
.Msection2 .locationWrap .lo02:hover a {
  background-image: url("http://www.smart-pain.com/new/images/main/Msection2_img04_hover_n.png");
  transition: all 0.5s;
}

/* .Msection2 .panel:nth-child(1){margin-left:25%;} */
.Msectionnew2 {
  background: #f4f1ed;
  padding: 0;
  position: relative;
  z-index: 1;
}
.Msectionnew2 .transition_section {
  background-color: #1F1F1F;
}
.Msectionnew2 .hover--eff {
  width: 100%;
  height: 100%;
  /* background: #fff; */
}
.Msectionnew2 .hover--eff a {
  height: 100%;
  display: block;
  /* background: #010001; */
  border-radius: 20px;
  transition: background-color 0.5s;
  transform: translateY(50%);
}
.Msectionnew2 .hover--eff .aos-lb_t {
  font-size: 28px;
  color: #fff;
  display: flex;
  justify-content: center;
  max-width: 605px;
}
.Msectionnew2 .hover--eff .hover_video {
  display: none;
}
.Msectionnew2 .flex-box {
  display: flex;
  padding: 0 3.2rem;
  padding-left: 0;
}
.Msectionnew2 .flex-box a img, .Msectionnew2 .flex-box a iframe {
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  height: 100%;
}
.Msectionnew2 .flex-box a .aos-img-logo_c {
  max-width: 200px;
  height: auto;
  position: absolute;
  top: 23%;
  left: 10%;
}
.Msectionnew2 .flex-box a .aos-img-logo_c2 {
  top: 13%;
}
.Msectionnew2 .flex-box a .aos-img-logo_c3 {
  top: 14%;
}
.Msectionnew2 .flex-box a .aos-img-logo_c4 {
  top: 14%;
}
.Msectionnew2 .flex-box a .aos-img-logo_c5 {
  top: 26%;
}
.Msectionnew2 .flex-box a .aos-img-icon_c {
  max-width: 25px;
  height: auto;
  position: absolute;
  top: 40%;
  left: 10.8%;
  border-radius: 0;
}
.Msectionnew2 .flex-box a .aos-img-icon_c2 {
  top: 44%;
  left: 10%;
}
.Msectionnew2 .flex-box .panel {
  flex: 0 0 auto;
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.Msectionnew2 .flex-box .panel a {
  display: Block;
}
.Msectionnew2 .flex-box .panel .m2-panel-desc {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #000;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 100%;
}
.Msectionnew2 .flex-box .panel .aos-a-c {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 10px 0;
}
.Msectionnew2 .flex-box .panel .quickBtn-c2 {
  display: none;
}
.Msectionnew2 .flex-box .panel.none a {
  display: inline-block;
}
.Msectionnew2 .flex-box .m2-panel.active {
  gap: 0;
}
.Msectionnew2 .flex-box .m2-panel.active .aos-none {
  display: none;
}
.Msectionnew2 .flex-box .m2-panel.active .m2-panel-desc {
  border-radius: 20px 20px 0 0;
  padding: 40px 0 70px;
  height: 11%;
  width: 100%;
}
.Msectionnew2 .flex-box .m2-panel.active .hover_video {
  display: block;
  border-radius: 0 0 20px 20px;
  background-color: #000;
}
.Msectionnew2 .flex-box .m2-panel.active .aos-lb_t {
  font-size: 25px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.Msectionnew2 .flex-box .m2-panel.active .quickBtn-c {
  display: none;
}
.Msectionnew2 .flex-box .m2-panel.active .quickBtn-c2 {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.Msectionnew2 .flex-box .panel.none {
  margin-left: 0;
  display: flex;
  align-items: center;
  margin-left: 100px;
}
.Msectionnew2 .flex-box .loc_wrap {
  display: flex;
  background: #2f291e;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;
  flex-direction: column;
}
.Msectionnew2 .loc_wrap .hover--eff + .hover--eff {
  margin-top: 20px;
}
.Msectionnew2 .loc_wrap a img {
  border-radius: 0;
}
.Msectionnew2 .last {
  position: absolute;
  top: 50%;
  left: 50%;
}
.Msectionnew2 .smartnetwork .m2-first {
  display: flex;
}
.Msectionnew2 .smartnetwork div {
  padding: 60px 50px;
  position: relative;
  top: 12%;
  left: 45%;
  width: 831px;
  height: 603px;
  border-radius: 20px;
  overflow: hidden;
  background: #2c2417 url("http://www.smart-pain.com/new/images/main/Msection2_img04_bg.jpg") !important;
  background-position: right bottom;
  background-repeat: no-repeat;
}
.Msectionnew2 .smartnetwork h2 {
  font-size: 80px;
  font-weight: 700;
  line-height: 90px;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 50px;
  text-transform: uppercase;
  color: #fff;
}
.Msectionnew2 .smartnetwork p {
  color: #fff;
  font-size: 28px;
  line-height: 170%;
}
.Msectionnew2 .smartnetwork p iframe {
  display: none;
}
.Msectionnew2 .smartnetwork p:hover {
  font-size: 0;
}
.Msectionnew2 .smartnetwork p:hover iframe {
  display: block;
}
.Msectionnew2 .flex-box--wrap {
  display: flex;
  align-items: center;
  gap: 60px;
  height: 100vh;
  padding: 80px 0;
  position: relative;
}

/* .Msectionnew2 .transition_section {max-width:1280px; margin:0 auto;} */
/*
.Msectionnew2 .flex-box .panel.aos-animate  {animation:mainNslideAni 3s cubic-bezier(0.23, 1, 0.32, 1)}
*/
/* .Msectionnew2 .flex-box .last {margin-right:50px;} */
/* .Msectionnew2 .flex-box .last img {max-width:273px;} */
/* .Msectionnew2 .smartnetwork {
} */
@keyframes rotatetxt {
  100% {
    transform: rotate(360deg);
  }
}
.Msection3 {
  height: 130vh !important;
  z-index: 2;
  background: #1F1F1F;
  padding: 60px 80px;
  height: 1980px;
}
.Msection3 h2 {
  font-size: 48px;
  color: #f9f9f9;
}
.Msection3 .flex_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  gap: 100px;
}
.Msection3 .flex_box_inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 40px;
}
.Msection3 .m3-img_container {
  display: flex;
  width: 100%;
  gap: 40px;
}
.Msection3 .m3-img_container a {
  width: 100%;
  height: auto;
  border-radius: 8px;
  display: block;
  border: 1px solid #1F1F1F;
}
.Msection3 .m3-img_container a img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.Msection3 .m3-img_container a:hover {
  border: 1px solid #fafafa;
  box-sizing: border-box;
}

.Msection4 {
  position: relative;
  padding: 100px 0;
  background: #0A0A0A;
  z-index: 2;
}
.Msection4 .black_bg {
  background: #000;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.5s;
}
.Msection4 .list_wrap {
  display: flex;
  align-items: center;
}
.Msection4 .img_wrap {
  flex: 0 0 50%;
  position: relative;
  width: 50%;
  overflow: hidden;
  height: 700px;
}
.Msection4 .img_wrap img {
  opacity: 0;
  z-index: 1;
  position: relative;
}
.Msection4 .img_wrap .ani_orange {
  width: 100%;
  height: 100%;
  background: #d1363a;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  transition: opacity 0.5s;
}
.Msection4 .img_wrap .ani_orange.left {
  translate: none;
  rotate: none;
  scale: none;
  transform-origin: 100% 50%;
  transform: scale(0, 1);
}
.Msection4 .img_wrap .ani_orange.right {
  translate: none;
  rotate: none;
  scale: none;
  transform-origin: 0% 100%;
  transform: scale(0, 1);
}
.Msection4 .list_wrap.aos-animate .img_wrap img {
  animation: orangeImgAni 1.2s 0.2s forwards;
}
.Msection4 .list_wrap.aos-animate .img_wrap-img1 {
  left: -34%;
}
.Msection4 .list_wrap.aos-animate .img_wrap-img2 {
  left: -52%;
}
.Msection4 .list_wrap.aos-animate .img_wrap-img3 {
  left: -23%;
}
.Msection4 .list_wrap.aos-animate .img_wrap-img4 {
  left: -40%;
}
.Msection4 .list_wrap.aos-animate .img_wrap-img5 {
  left: -37%;
}
.Msection4 .txt_link {
  flex: 0 0 50%;
  padding-left: 70px;
  width: 50%;
}
.Msection4 .txt_link.left {
  padding: 0 70px 0 0;
}
.Msection4 .txt_link h3 {
  font-size: 35px;
  line-height: 50px;
  font-weight: 300;
  color: #d2d2d2;
  letter-spacing: 0.1em;
  font-weight: 800;
  padding-bottom: 20px;
}
.Msection4 .txt_link .eng {
  font-size: 18px;
  line-height: 1;
  text-transform: uppercase;
  color: rgba(101, 100, 98, 0.9);
}
.Msection4 .txt_link .orange_color {
  font-size: 35px;
  font-weight: 700;
}
.Msection4 .link_wrap {
  margin-top: 70px;
}
.Msection4 .link_wrap .link-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.Msection4 .link_wrap .link-svg-s_b {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.Msection4 .topbot_link a {
  margin-bottom: 15px;
}

/*


.Msection4 .txt_link a {font-size:18px; font-weight:700; margin-top:80px; display:inline-block; transition:all 0.3s;}
.Msection4 .txt_link a:hover {color:#de7702; transition:all 0.3s;}
.Msection4 .txt_link .div {background:#c5c5c5;height:12px; width:1px; display:inline-block; margin:0 6px 0 7px;}
.Msection4 .txt_link a:hover .div {background:#de7702;}
.Msection4 .txt_link .link_go {display:inline-block; width:13px; height:18px; background:url("http://www.smart-pain.com/new/images/main/link_go.png")no-repeat center;margin-left:10px; transition:all 0.3s;}
.Msection4 .txt_link a:hover .link_go {background-image:url("http://www.smart-pain.com/new/images/main/link_go_hover.png"); transition:all 0.3s;}
*/
.button--bestia--main {
  height: 100%;
  font-size: 17px;
  color: #db5659;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-weight: 400;
  margin-right: 15px;
  border: 1px solid #db5659;
  border-radius: 50px;
}
.button--bestia--main:hover {
  color: #fff !important;
  font-weight: 500;
}
.button--bestia--main:hover .link-svg-s_b {
  background-color: rgba(0, 0, 0, 0.4);
}
.button--bestia--main::before, .button--bestia--main::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.button--bestia--main .button__bg {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
  border-radius: 50px;
}
.button--bestia--main .button__bg::before, .button--bestia--main .button__bg::after {
  content: "";
  position: absolute;
  background: #d1363a;
}
.button--bestia--main .button__bg::before {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 1);
}
.button--bestia--main:hover .button__bg::before {
  transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
  transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
}
.button--bestia--main .button__bg::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s;
}
.button--bestia--main:hover .button__bg::after {
  opacity: 1;
  transition-duration: 0.01s;
  transition-delay: 0.3s;
}
.button--bestia--main span {
  display: block;
  position: relative;
  padding: 0;
  text-align: center;
  line-height: 20px;
  padding-bottom: 2px;
}

/*
.button--bestia--main:hover .button__bg {	transform: scale3d(1.2,1.2,1);}
*/
.Msection5 {
  position: relative;
  padding: 300px 40px 140px;
  overflow: hidden;
}
.Msection5 .black_bg {
  background: #000;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
  transition: all 0.8s;
}
.Msection5 .title_list {
  position: relative;
  z-index: 2;
}
.Msection5 .list_item_top {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.Msection5 .list_item_bottom {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: row-reverse;
  margin-top: 0px;
}
.Msection5 .label {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #fff;
  font-size: 200px;
  text-transform: uppercase;
}

/*
.Msection6 {background:#101010; padding-bottom:140px;}
.Msection6 .list_wrap {margin:0 40px 20px; position:relative; overflow:hidden;border-radius:30px;}
.Msection6 .list_wrap:after {content:''; display:table;}
.Msection6 .list_wrap:last-child {margin-bottom:0;}
.Msection6 .bg_wrap {z-index:2;width:100.1%; height:100.1%; overflow:hidden; position:absolute; top:0; left:0;}
.Msection6 .bg_wrap .inner-wrap {z-index:1;width:100%; height:100%; overflow:hidden; position:absolute; top:0; left:0;}
.Msection6 .bg--image {z-index:1;background-attachment:fixed; background-repeat:no-repeat; background-position:center center; background-size:cover; position:absolute; top:0; left:0; width:100%; height:100%;}
.Msection6 .video_wrap {z-index:1;background-attachment:fixed; position:absolute; top:0; left:0; width:100%; height:100%;}
.Msection6 .bg--image iframe {width:100%; height:100%;}
.Msection6 .bg--image.bg1 {background-image:url("http://www.smart-pain.com/new/images/main/Msection6_bg1.jpg");}
.Msection6 .bg--image.bg2 {background-image:url("http://www.smart-pain.com/new/images/main/Msection6_bg2.jpg");}
.Msection6 .bg--image.bg3 {background-image:url("http://www.smart-pain.com/new/images/main/Msection6_bg3.jpg");}
.Msection6 .fixed--text {z-index:3; position:relative;height:700px;}
.Msection6 .fixed--text h1 {color:#fff; font-size:65px;font-weight:700;}
.Msection6 .fixed--text a {display:flex; width:100%; height:100%; justify-content:center; align-items:center;}
*/
.MsectionNew6 {
  position: relative;
  z-index: 1;
  overflow: hidden;
  background-color: #000;
  margin: 0;
  padding: 0 0 160px;
}
.MsectionNew6 .list_wrap {
  margin: 0 40px 20px;
  position: relative;
  overflow: hidden;
  border-radius: 30px;
}
.MsectionNew6 .video_area {
  position: relative;
  margin: 0 auto;
  height: 34.8vw;
  overflow: hidden;
  border-radius: 30px;
}
.MsectionNew6 .video_area .pin-spacer {
  width: 100% !important;
}
.MsectionNew6 .fixed_video {
  overflow: hidden;
  border-radius: 30px;
  position: absolute;
  left: 0;
  top: 0;
  max-width: 100% !important;
  width: 100% !important;
  height: 100%;
  z-index: 1;
}
.MsectionNew6 .fixed_video .width_video {
  position: relative;
  margin: 0px auto;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
  z-index: 1;
  border-radius: 30px;
}
.MsectionNew6 .fixed_video .width_video .img {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.MsectionNew6 .fixed_video .width_video:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.MsectionNew6 .fixed_video #video {
  position: absolute;
  left: 0;
  bottom: 0;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
}
.MsectionNew6 .layer1 {
  position: relative;
  width: 103%;
  height: 103%;
  overflow: hidden;
  border-radius: 30px;
}
.MsectionNew6 .layer1 .video_area1 {
  overflow: hidden;
  border-radius: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-left: -1%;
  margin-top: -1%;
}
.MsectionNew6 .fixed--text {
  z-index: 3;
  position: absolute;
  height: 34.8vw;
  width: 100%;
  text-align: center;
}
.MsectionNew6 .fixed--text h1 {
  color: #fff;
  font-size: 65px;
  font-weight: 700;
}
.MsectionNew6 .fixed--text a {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.Msection7--text {
  padding: 200px 0 0;
  background: #000;
}
.Msection7--text .sub_top {
  text-align: center;
  padding-bottom: 100px;
}
.Msection7--text .sub_top h1 {
  color: #fff;
  font-size: 100px;
  letter-spacing: -0.02em;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.Msection7--text .sub_top p {
  color: #fff;
  font-size: 24px;
  letter-spacing: -0.02em;
  font-weight: 350;
}

.Msection7 {
  padding: 0;
  -o-object-fit: cover;
     object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}
.Msection7 .video_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d6d6d6;
  width: 100%;
  height: 56.25vw;
}
.Msection7 .video_wrap img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  -o-object-fit: cover !important;
     object-fit: cover !important;
}
.Msection7 .Video_expand {
  position: relative;
  z-index: 2;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  -o-object-fit: cover;
     object-fit: cover;
}
.Msection7 .video_container {
  width: 100%;
  height: 100%;
}
.Msection7 .video_container .video_content {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #ebebeb;
}
.Msection7 .video_container .video_content_o {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 62%;
  left: 35%;
}
.Msection7 .video_container .video_content_o .m7_content_a {
  font-size: 20px;
  color: #f9f9f9;
  background-color: #d1363a;
  border-radius: 24px;
  line-height: 20px;
  padding: 32px 16px;
  text-align: center;
  min-width: 260px;
}
.Msection7 .video_container .video_content_o .m7_content_a:hover {
  color: rgb(209, 90, 90);
  background-color: #fff;
  font-weight: 500;
}
.Msection7 .video_container .video_content_a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
.Msection7 .video_container .video_content_a a {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 1 260px;
  background-color: rgba(173, 172, 170, 0.7);
  color: #fff;
  border-radius: 8px;
  min-width: 260px;
  padding: 15px 16px;
}
.Msection7 .video_container .video_content_a a span {
  display: block;
  font-size: 60px;
  font-weight: 700;
  color: #fff;
}
.Msection7 .video_container .video_content_a a:hover {
  color: #a12225;
  background-color: rgba(255, 255, 255, 0.7);
}
.Msection7 .video_container .video_content_a a:hover span {
  color: #a12225;
}
.Msection7 .video_container .video_content_a a:first-child {
  margin-right: 24px;
}

#cursor {
  z-index: 99;
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
  will-change: transform;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: url("http://www.smart-pain.com/new/images/main/Msection6_more.png") no-repeat center;
  transition: background 0.4s, width 0.6s, height 0.6s, transform 0.4s;
  transform: translate(-50%, -50%);
  background-size: cover;
  opacity: 0;
}
#cursor.on {
  opacity: 1;
  width: 110px;
  height: 110px;
  transition: background 0.4s, width 0.4s, height 0.4s, transform 0.4s;
  background-size: cover;
}

.MsectionNew6 .list_container {
  margin: 0 40px;
}
.MsectionNew6 .list_container a {
  position: relative;
  display: block;
  margin-bottom: 3.07vw;
  border-radius: 15px;
  overflow: hidden;
  isolation: isolate;
  height: 111vw;
  -webkit-clip-path: inset(0 100% 0 0 round 15px);
  clip-path: inset(0 100% 0 0 round 15px);
  will-change: clip-path;
  transition: -webkit-clip-path 0.7s cubic-bezier(0.65, 0, 0.35, 1);
  transition: clip-path 0.7s cubic-bezier(0.65, 0, 0.35, 1);
  transition: clip-path 0.7s cubic-bezier(0.65, 0, 0.35, 1), -webkit-clip-path 0.7s cubic-bezier(0.65, 0, 0.35, 1);
  background-color: #000;
}
.MsectionNew6 .list_container.aos-animate a {
  -webkit-clip-path: inset(0 0 0 0 round 15px);
  clip-path: inset(0 0 0 0 round 15px);
}
.MsectionNew6 .list_container iframe {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.MsectionNew6 .list_container iframe ::-webkit-media-controls-start-playback-button {
  display: none !important;
}
.MsectionNew6 .list_container .fixed_txt {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}
.MsectionNew6 .list_container .fixed_txt:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.MsectionNew6 .list_container .fixed_txt h1 {
  color: #fff;
  font-size: 65px;
  font-weight: 700;
  z-index: 1;
}

@media (min-width: 46.25em) {
  .MsectionNew6 .list_container a {
    height: 34.8vw;
    margin-bottom: 1.446vw;
    border-radius: 2.083vw;
    -webkit-clip-path: inset(0 100% 0 0 round 2.083vw);
    clip-path: inset(0 100% 0 0 round 2.083vw);
  }
  .MsectionNew6 .list_container.aos-animate a {
    -webkit-clip-path: inset(0 0 0 0 round 2.083vw);
    clip-path: inset(0 0 0 0 round 2.083vw);
  }
}
@font-face {
  font-family: "GmarketSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.Msectionnew2 .panelsText {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100vw;
  line-height: 100px;
  text-align: center;
  color: #282828;
  font-size: 80px;
  font-weight: 700;
  transition: all 1s;
  font-family: "GmarketSansBold";
  text-transform: uppercase;
}
.Msectionnew2.on .panelsText {
  display: block;
}

.MsectionNew7text {
  padding: 300px 0 200px;
  background: #000;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}
.MsectionNew7text p {
  display: flex;
  animation: text 30s linear infinite;
}
.MsectionNew7text p:last-child {
  animation-direction: reverse;
  margin-top: 40px;
}

@keyframes text {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.MsectionNew7 {
  background: #000;
}
.MsectionNew7 .sub_top {
  text-align: center;
  padding-bottom: 100px;
}
.MsectionNew7 .sub_top h1 {
  color: #fff;
  font-size: 65px;
  font-weight: 700;
}
.MsectionNew7 .flex {
  display: flex;
}
.MsectionNew7 .flex .MsectionNew7Lt {
  flex: 0 0 42%;
  max-width: 42%;
}
.MsectionNew7 .index-flow__body {
  padding-left: 120px;
}
.MsectionNew7 .index-flow__body .index-flow__item {
  padding: 250px 0;
}
.MsectionNew7 .index-flow__body * {
  color: #fff;
}
.MsectionNew7 .index-flow__side {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #f0f8ff;
}
.MsectionNew7 .titleWrap {
  display: flex;
  align-items: center;
}
.MsectionNew7 .titleWrap .number {
  margin-right: 30px;
}
.MsectionNew7 .titleWrap p {
  font-size: 18px;
}
.MsectionNew7 .titleWrap .title {
  display: flex;
  align-items: center;
}
.MsectionNew7 .titleWrap .title p {
  font-size: 38px;
  font-weight: bold;
  margin-right: 10px;
}
.MsectionNew7 .index-flow__image {
  position: relative;
  width: 100%;
  height: 100%;
}
.MsectionNew7 .index-flow__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.MsectionNew7 .index-flow__image img:not(.image01) {
  opacity: 0;
}
.MsectionNew7 .item-content {
  width: 100%;
}
.MsectionNew7 .item-content .item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 15px 10px;
  background-color: #1f1f1e;
  border-radius: 10px;
}
.MsectionNew7 .item-content dt {
  flex: 0 0 110px;
  font-weight: 500;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.MsectionNew7 .item-content dd {
  flex: 0 0 calc(100% - 110px);
  margin-bottom: 0;
  padding-left: 20px;
  border-left: 1px solid #393937;
}
.MsectionNew7 .circleBtn {
  display: flex;
  align-items: center;
}
.MsectionNew7 .circleBtn * {
  transition: all 0.8s ease-out 0s;
}
.MsectionNew7 .circleBtn svg {
  width: 45px;
  transform: rotate(200deg);
}
.MsectionNew7 .circleBtn svg:last-child {
  position: absolute;
  left: 0;
  top: 0;
}

/* .MsectionNew7 .index-flow__body .index-flow__item.item01 {
} */
.circleBtn .outline {
  stroke-dasharray: 460px;
  stroke-dashoffset: 0px;
  fill: none;
  stroke-width: 4px;
  stroke: #fff;
}
.circleBtn .outline.outline2 {
  stroke-dasharray: 460px;
  stroke-dashoffset: 420px;
}

.MsectionNew7 .titleWrap .title a:hover .circleBtn .outline2:last-child {
  stroke-dasharray: 460px;
  stroke-dashoffset: 0px;
  stroke: #d1363a;
}
.MsectionNew7 .circleBtn .icon {
  width: 45px;
  height: 45px;
  position: relative;
  background: url("http://www.smart-pain.com/new/images/main/Msection72_btn.png") no-repeat left center;
}
.MsectionNew7 .infoWrap {
  margin-top: 60px;
}
.MsectionNew7 .infoWrap h4 {
  font-size: 19px;
  margin-bottom: 20px;
  font-weight: 700;
}

.quickWrap {
  position: fixed;
  right: 60px;
  bottom: 40px;
  z-index: 9;
}

/* .quickBtn {
    background: rgba(35, 35, 35, 0.8);
    width: 113px;
    height: 113px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    cursor: pointer;
} */
.Msectionnew2 .flex-box .panel .quickBtn .text {
  animation: rotatetxt 6s linear infinite;
  transform-origin: 50% 50%;
  position: absolute;
}
.Msectionnew2 .flex-box .panel .quickBtn-c {
  background: rgba(35, 35, 35, 0.8);
  width: 73px;
  height: 73px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  cursor: pointer;
}
.Msectionnew2 .flex-box .panel .quickBtn-c2 img {
  width: 40px;
  height: 40px;
}
.Msectionnew2 .flex-box .panel .quickBtn .text-c {
  width: 60px;
  height: 60px;
}

.quickCont {
  display: none;
  background: #1e1e1e url("http://www.smart-pain.com/new/images/main/quick_bg.jpg");
  border-radius: 15px;
  position: absolute;
  bottom: 0;
  right: 130px;
  padding: 60px 20px 30px;
  width: 340px;
  background-repeat: no-repeat;
}
.quickCont .quickClose {
  position: absolute;
  left: 10px;
  top: 5px;
  cursor: pointer;
}
.quickCont p.tit {
  font-size: 22px;
  color: #fff;
}
.quickCont .itemList {
  margin-top: 20px;
}
.quickCont .item {
  background: #282828;
  width: 100%;
  padding: 20px;
  border-radius: 6px;
}
.quickCont .item + .item {
  margin-top: 20px;
}
.quickCont .item .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.quickCont .item .flex p {
  font-size: 23px;
}
.quickCont .item * {
  color: #fff;
}
.quickCont .item h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 30px;
  margin: 10px 0;
  letter-spacing: 1px;
}
.quickCont .item a.resebtn {
  background: #33a20e;
  line-height: 40px;
  height: 40px;
  text-align: center;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  margin-top: 20px;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.quickCont .item a.resebtn img {
  margin-right: 10px;
}

.topBtn {
  position: fixed;
  right: 100px;
  bottom: 180px;
  z-index: 9;
  display: none;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 90px;
}
.topBtn:hover {
  background: rgba(255, 255, 255, 0.5);
}
.topBtn:hover svg {
  fill: #000;
}

.layerPop-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  display: none;
}

.layerPop-wrap {
  margin: 0 auto;
  max-width: 1280px;
  position: fixed;
  height: 100%;
  top: 100px;
  z-index: 1000;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
}
.layerPop-wrap .layerPopTop {
  position: relative;
  top: 0;
  right: 0;
  display: block;
  margin-bottom: 20px;
  text-align: right;
}
.layerPop-wrap .layerPopTop .label {
  width: auto;
  color: #fff;
  font-size: 14px;
  background-size: 14px;
  line-height: 14px;
  height: 14px;
  padding-left: 20px;
}
.layerPop-wrap .layerPopTop button {
  background: none;
  cursor: pointer;
  vertical-align: text-bottom;
  margin-left: 10px;
}
.layerPop-wrap .layerPopCont {
  display: grid;
  grid-template-columns: repeat(4, auto);
}
.layerPop-wrap .layerPop {
  display: inline-block;
  margin-right: 8px;
  width: 300px;
  height: 408px;
  box-shadow: rgba(0, 0, 0, 0.1) 5px 10px 2px;
}
.layerPop-wrap .layerPop > a, .layerPop-wrap .layerPop > p {
  border-radius: 12px 12px 0 0;
  overflow: hidden;
  display: block;
}
.layerPop-wrap .layerPop .popup-bt {
  background: #edf1f3;
  display: flex;
  border-radius: 0 0 12px 12px;
  overflow: hidden;
}
.layerPop-wrap .layerPop .popup-bt > a {
  width: 50%;
  display: block;
  padding: 10px 0;
  text-align: center;
  font-weight: 500;
  border: solid 1px #dddddd;
  font-size: 14px;
}/*# sourceMappingURL=common.css.map */